<div class="row">
  <div class="container">

    <div class="mx-auto">
      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f|  %>
      <table class="table">
        <tr>
          <th>題名</th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td><%= f.text_area :body %></td>
        </tr>
      </table>

      <div>
        <%= f.file_field :images, accept: "image/*", multiple: true %>
      </div>

      <div>
        <%= f.submit "更新" %>
      </div>

      <% end %>
    </div>

  </div>
</div>