<div class="container">
  <div class="row">

    <div class="mx-auto">
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
      <table class="table">
        <tr>
          <th>題名</th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td><%= f.text_area :body %></td>
        </tr>
      </table>

      <div>
        <%= f.file_field :images, accept: "image/*", multiple: true, onchange: "loadImage(this);" %>
        <p id="preview"></p>
      </div>

      <div>
        <%= f.submit "投稿" %>
      </div>

    <% end %>
    </div>

  </div>
</div>

<style>
#preview img {
	width: 100px;
	border: 1px solid #cccccc;
	vertical-align: text-top;
}
</style>

<script>
  function loadImage(obj)
  {
  	document.getElementById('preview').innerHTML = '<p>プレビュー</p>';
  	for (i = 0; i < obj.files.length; i++) {
  		var fileReader = new FileReader();
  		fileReader.onload = (function (e) {
  			document.getElementById('preview').innerHTML += '<img src="' + e.target.result + '">';
  		});
  		fileReader.readAsDataURL(obj.files[i]);
  	}
  }
</script>