<div class="container">
  <div class="row">

    <div class="mx-auto">
      <h3><%= @post.title %></h3>

      <div>
        <%= link_to @post.user.name, user_path(@post.id) %>
      </div>

      <div>
        <%= @post.body %>
      </div>

      <% if @post.image.attached? %>
        <%= image_tag @post.image, width: 200, height: 'auto' %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>

    </div>

  </div>
</div>
